body {
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    padding-right: 20px;
}

.letter {
    font-size: 7rem;
    transition: color 1000ms;
    letter-spacing: -20px;
}

#K {
    padding-right: 20px;
}

#meme-info {
    margin-bottom: 50px;
}

#img {
    width: 90%;
    margin: 5px;
    border-radius: 5px;
}

input[type=text] {
    width: 30%;
    margin: 5px;
    border-radius: 5px;
}

#submit {
    /*remove default*/
    appearance: none;
    -webkit-appearance: none;
    /*style*/
    padding: 10px;
    border: none;
    background-color: #3f51b5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 80%;
}

div.parent {
    position: relative;
    margin: 10px;
}

p {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0px 2px 0 #000, 2px 0px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 2px 5px #000;
    left: 0;
    right: 0;
}

.top-string {
    top: 0;
}

.btm-string {
    bottom: 0;
}